# IntelliJ IDEA
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Gradle
.gradle/
/local.properties

# macOS
.DS_Store

# Android build
**/build/
/captures
.externalNativeBuild
.cxx

# Kotlin & VS Code
.kotlin/
.vscode/

# Локальные переменные окружения
.env
